<style>
    .th_pb_section .th_pb_addtocart_section .th_pb_add_to_cart {
        width: 40rem;
        transition: 0.2s linear;
        border: 1px solid #000;
        text-transform: uppercase;
        padding: 1.4rem 4rem;
    }

    .th_pb_section .th_pb_addtocart_section .th_pb_add_to_cart:hover {
        color: #000 !important;
        background: #fff !important;
    }
</style>

<div class="container">
    <div class="th_pb_section th_pb_specific_bundles" data-bundleid="90154"></div>
</div>