<!-- /templates/customers/register.liquid -->
{{ 'customers-template.css' | asset_url | stylesheet_tag }}

<section class="customer-template">
    <div class="container">
        <div id="register__customer" class="register__customer">
            <h2 class="customer-template__title">Create an Account</h2>
            {% form 'create_customer', class: "customer-template__form" %}
                {{ form.errors | default_errors }}

                <div class="customer-template__input-group">
                    <div class="customer-template__form__item">
                        <input class="customer-template__input" type="text" value="" name="customer[first_name]" size="30" required placeholder=" " />
                        <label class="customer-template__label" for="first_name">
                            <span class="customer-template__label__content">First Name</span>
                        </label>
                    </div>

                    <div class="customer-template__form__item">
                        <input class="customer-template__input" type="text" value="" name="customer[last_name]" size="30" required placeholder=" " />
                        <label class="customer-template__label" for="last_name">
                            <span class="customer-template__label__content">Last Name</span>
                        </label>
                    </div>
                </div>

                <div class="customer-template__form__item">
                    <input class="customer-template__input" type="email" value="" name="customer[email]" size="30" required placeholder=" " />
                    <label class="customer-template__email customer-template__label" for="email">
                        <span class="customer-template__label__content">Email Address</span>
                    </label>
                </div>

                <div class="customer-template__form__item">
                    <input class="customer-template__input" type="password" value="" name="customer[password]" size="30" required placeholder=" " />
                    <label class="customer-template__password customer-template__label" for="password">
                        <span class="customer-template__label__content">Password</span>
                    </label>
                </div>

                <div class="customer-template__form__item">
                    <input class="customer-template__input" type="password" value="" name="customer[password_confirmation]" id="confirm-password" size="30" required placeholder=" " />
                    <label class="customer-template__password customer-template__label" for="password">
                        <span class="customer-template__label__content">Confirm Password</span>
                    </label>
                </div>

                <div class="form__actions">
                    <input class="customer-template__form__btn" type="submit" value="Create an Account" />
                    <p>Already have an account?</p>
                    <a class="customer-template__create-btn" href="/account/login">Log in</a>
                </div>

            {% endform %}
        </div>
    </div>
</section>

<script>
  $(function(){
    $("#create_customer").submit(function (e) {     
      if ( $("input[name='customer[password]']").val() != $("input[name='customer[password_confirmation]']").val()) {
        e.preventDefault();
        alert("Passwords do not match.");
      }
    });
  });
</script>