{{ 'https://unpkg.com/swiper@8/swiper-bundle.min.css' | stylesheet_tag }}

<section class="featured">
    <div class="container">
        <div class="swiper featured-swiper">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                    {% render "collection-card", collectionData: block.settings.collection, class: "swiper-slide" %}
                {% endfor %}
            </div>
            <div class="swiper-scrollbar featured-scrollbar"></div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Featured Collections",
    "class": "featured-collection",
    "blocks": [
        {
           "type": "collection",
            "name": "Collections",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection Name"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Collection",
            "name": "Featured Collection"
        }
    ]
}
{% endschema %}

{{ 'https://unpkg.com/swiper@8/swiper-bundle.min.js' | script_tag }}
{{ 'slider.js' | asset_url | script_tag }}