.announcement-bar {
  background-color: #fbfbfb;
  padding: 1rem 0;
}

.announcement-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.016rem;
  letter-spacing: 0.16em;
}
