/* Put your styles in this file.
Note: "@import" rules aren’t supported. */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 1.4rem;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 4rem;
}
