#cart {
  padding: 8rem 0;
}

#cart .ajax__btn {
  max-width: 44.2rem;
  margin: 0 auto;
}

#cart .ajax__close-btn {
  display: none;
}

.cart-ajax {
  width: 48rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
  background: #fff;
  box-shadow: -0.2rem 0 0.4rem hsl(0 4% 15% / 10%);
  padding: 2.4rem 0 4rem;
  transform: translateX(100vh);
  transition: transform 0.3s linear;
}

.cart-ajax.active {
  transform: translateX(0);
}

.js-mini-cart-contents {
  height: 100%;
}

.ajax__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem 2.5rem;
}

.ajax__header-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 3.12rem;
  letter-spacing: 0.08em;
}

.ajax__close-btn {
  font-family: inherit;
  text-transform: uppercase;
  background: none;
  border: 0;
  cursor: pointer;
}

.cart__form {
  height: calc(100% - 5.7rem);
}

.js-cart-fieldset {
  height: 100%;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ajax__items {
  overflow-y: scroll;
  padding: 0 1.6rem;
}

.ajax__items::-webkit-scrollbar {
  width: 0.4rem;
}

.ajax__items::-webkit-scrollbar-track {
  background-clip: padding-box;
  border-radius: 9.2rem;
}

.ajax__items::-webkit-scrollbar-thumb {
  background-color: #353535;
  background-clip: padding-box;
  border-radius: 9.2rem;
}

.ajax__item {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1.6rem;
  border-bottom: 1px solid #f1f1f1;
  padding: 1.6rem 0;
}

.ajax__item:first-of-type {
  border-top: 1px solid #f1f1f1;
}

.ajax__product-img {
  width: 12rem;
  max-height: 15rem;
}

.ajax__img {
  width: 100%;
}

.ajax__content {
  display: flex;
  flex-direction: column;
  padding-top: 3.7rem;
}

.ajax__product__title {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2.016rem;
  letter-spacing: 0.16em;
  margin-bottom: 0.8rem;
}

.ajax__quantity-picker {
  margin-top: auto;
}

.option-fieldset {
  font-size: 1.2rem;
  line-height: 2.01rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.ajax__variant__title,
.quantity-text,
.ajax__line-price {
  font-size: 1.2rem;
  line-height: 2.01rem;
}

.quantity-button {
  background: none;
  border: 0;
  cursor: pointer;
}

.ajax__controller {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 3.7rem;
}

.ajax__line-price {
  margin-bottom: 1.8rem;
}

.ajax__actions {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 1.6rem 0;
}

.cart__content--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80% 1.6rem 0;
}

.empty-cart__title {
  font-size: 1.6rem;
  line-height: 2.68rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.empty-cart__btn {
  font-size: 1.2rem;
  line-height: 1.634rem;
  letter-spacing: 0.175em;
  color: inherit;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  background: #fff;
  border: 1px solid #000;
  padding: 1.4rem 4rem;
}

.ajax__btn {
  width: 100%;
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.634rem;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: #000;
  cursor: pointer;
  padding: 1.2rem 4rem;
  border: 1px solid #000;
  transition: color 0.2s linear, background 0.2s linear;
}

.ajax__btn:hover {
  color: #000;
  background: #fff;
}

.ajax__close-btn--text {
  width: fit-content;
  height: auto;
  position: relative;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0 0 0.4rem;
}

.ajax__close-btn--text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 0.1rem;
  background-color: #000;
  transition: max-width 0.2s ease-in-out;
}

.ajax__close-btn--text:hover::after {
  max-width: 0;
}

.visually-hidden {
  display: none;
}

.ajax__subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.688rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1.1rem;
}

.affirm__info {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 1.6rem 0 2.4rem;
}

.affirm__info a {
  color: inherit;
}
