.collections-list {
  padding: 4rem 0 9rem;
}

.collection__header {
  margin-bottom: 4rem;
}

.collection__name {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.12rem;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 2.9rem;
}

.collection__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: #c4c4c4;
}

.collection__links span {
  padding-bottom: 0.6rem;
}

.collection__links span:last-of-type {
  display: none;
}

.collection__link {
  font-size: 1.2rem;
  line-height: 1.68rem;
  letter-spacing: 0.175em;
  color: #c4c4c4;
  text-decoration: none;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid transparent;
}

.collection__link.active {
  color: #000;
  border-color: #c2a578;
}

.collection__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.4rem 1rem;
}
