.customer-template {
  padding: 8rem 0 12rem;
}

.customer-template__title {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.12rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-align: center;
  margin-bottom: 5.1rem;
}

.customer-template__form {
  width: 100%;
  max-width: 44.2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.customer-template__form__item {
  position: relative;
  margin-bottom: 4.3rem;
}

.register__customer .customer-template__form__item:last-of-type {
  margin-bottom: 0;
}

.login__customer .customer-template__form__item:nth-of-type(2) {
  margin-bottom: 0;
}

.customer-template__input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 4.3rem;
}

.customer-template__input-group .customer-template__form__item {
  width: 48%;
  margin-bottom: 0;
}

.customer-template__input {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.345rem;
  border: none;
  outline: none;
  padding: 1.2rem 0;
}

.customer-template__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  line-height: 2.01rem;
  pointer-events: none;
  border-bottom: 1px solid #bebebe;
  transition: border-color 0.2s linear;
}

.customer-template__input:focus + .customer-template__label {
  border-color: #000;
}

.customer-template__label__content {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: transform 0.2s ease;
}

.customer-template__input:focus
  + .customer-template__label
  .customer-template__label__content,
.customer-template__input:not(:placeholder-shown)
  + .customer-template__label
  .customer-template__label__content {
  transform: translateY(-150%);
}

.passReset {
  text-align: right;
  line-height: 2.345rem;
  margin: 0.8rem 0 4rem;
  cursor: pointer;
}

.errors ul {
  list-style: none;
  color: #da0000;
  margin-bottom: 0.8rem;
}

.form__actions {
  width: 100%;
}

.customer-template__form__btn {
  width: 100%;
  font-family: Open Sans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.634rem;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #fff;
  background: #000;
  cursor: pointer;
  padding: 1.2rem 4rem;
  border: 1px solid #000;
  transition: color 0.2s linear, background 0.2s linear;
}

.customer-template__form__btn:hover {
  color: #000;
  background: #fff;
}

.form__actions p {
  text-align: center;
  margin: 4rem 0 2.4rem;
}

.customer-template__create-btn {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.634rem;
  letter-spacing: 0.175em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  background: #fff;
  padding: 1.2rem 4rem;
  border: 1px solid #000;
}

.reset__header {
  text-align: center;
}
.reset__header h2,
.reset__header p {
  margin-bottom: 4rem;
}

.cancel-reset {
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0.8rem;
}

.hidden {
  display: none;
}
