.featured {
  padding: 6rem 0;
}

.featured__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured__item img {
  max-width: 100%;
  width: 32.8rem;
  height: auto;
}

.featured__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2.016rem;
  letter-spacing: 0.16em;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.arrow {
  position: absolute;
  top: 0.1rem;
  right: -3rem;
  overflow: hidden;
}

.arrow svg {
  display: block;
  transform: translate(-2rem);
  transition: 0.2s linear;
}

.arrow svg path {
  fill: #000;
}

.featured__item:hover .arrow svg {
  display: block;
  transform: translate(0);
}

.featured-swiper .swiper-wrapper {
  margin-bottom: 4rem;
}

.featured-scrollbar {
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 0.2rem !important;
  margin: 0 auto;
  border-radius: 0 !important;
  background-color: #f1f1f1 !important;
}

.featured-scrollbar .swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: #000;
}
