.intro {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container--intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 4rem;
}

.hero__content {
  max-width: 55.7rem;
  color: #fff;
}

.intro__title {
  font-size: 6rem;
  line-height: 130%;
  letter-spacing: 0.24em;
  margin-bottom: 2.4rem;
}

.intro__subtitle {
  font-size: 1.4rem;
  line-height: 167.5%;
  margin-bottom: 4rem;
}

.intro__btn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10.8rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-decoration: none;
  letter-spacing: 0.175em;
  color: inherit;
  padding: 2.1rem 2.4rem;
  border: 0.1rem solid #fff;
  transition: 0.2s linear;
}

.intro__btn span {
  display: flex;
  align-items: center;
}

.intro__btn:hover {
  background-color: #fff;
  color: #000;
}

.intro__btn:hover svg path {
  fill: #000;
}
