{{ 'cart-ajax.css' | asset_url | stylesheet_tag }}

<section id="cart">
  <div class="container">
    <div class="js-cart-contents" data-cart-item-count="{{ cart.item_count }}">
      {% render "cart-contents" %}
    </div>
  </div>
</section>